In [49]:
import pandas as pd
import numpy as np

#df = pd.read_csv('dblp_names.csv', header = None)

#df = pd.read_csv('dblp_names.csv', verbose =True , warn_bad_lines = False, error_bad_lines=False, header = None)

df = pd.read_csv('dblp_names.csv',error_bad_lines=False, warn_bad_lines=False)

#print(df.to_string())

In [50]:
display(df)

                         # OLD_NAME                          NEW_NAME
0                 Bamshad Mobasherm                  Bamshad Mobasher
1            Carole Delporte-Gellet            Carole Delporte-Gallet
2               Ronald Presott Loui              Ronald Prescott Loui
3                        Eve Riskin                     Eve A. Riskin
4                 Doouglas W. Clark                  Douglas W. Clark
...                             ...                               ...
45151                Benny Lövstrom                    Benny Lövström
45152            Sri Harish Mallidi          Sri Harish Reddy Mallidi
45153                  F. Palluconi                Frank D. Palluconi
45154  María Carmen Suárez Figueroa  María del Carmen Suárez-Figueroa
45155            Ignacio Santamaria                Ignacio Santamaría

[45156 rows x 2 columns]

In [58]:
print(df.ndim)
print(df.size)
print(df.shape)

2
90312
(45156, 2)

In [59]:
df.sum()

# OLD_NAME    Bamshad MobashermCarole Delporte-GelletRonald ...
 NEW_NAME     Bamshad MobasherCarole Delporte-GalletRonald P...
dtype: object

In [60]:
for col in df:
    print(col)

# OLD_NAME
 NEW_NAME